HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
# Test-Fixture scan-root/alpha/target/pom.xml muss eingecheckt bleiben
!**/src/main/**/target/
!**/src/test/**/target/

### Java ###
*.class
*.log
hs_err_pid*
replay_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon[\r]
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### spring-project-monitor ###
# lokale Laufzeitdaten: config.yaml (echte Hosts, SSH-Benutzer) und compose-cache
# (von den Servern geholte compose-Dateien), niemals einchecken
/data/
/private/
